<div *ngIf="pkmn">
    <h1>{{pkmn.id}} - {{pkmn.name}}</h1>
    <div>
        <img [src]="pkmn.front_default">
        <img [src]="pkmn.back_default">
    </div>
    <div>
        <div *ngFor="let type of pkmn.types">{{type.name}}</div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <td>Double dégats</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngFor="let type of dblDmgFrm">{{type.name}}</td>
        </tr>
    </tbody>
</table>
<ul>
    <li *ngFor="let pkmnList of pkmns">
        <input type="button" [value]="pkmnList.name" (click)="onClick(pkmnList.id)">
    </li>
</ul>